<% provide(:title, "Market") %>
<%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <h1>Market</h1>
    <p>
      This is the market
    </p>
<body>

<%= timeline [
  ["Washington", "1789-04-29", "1797-03-03"],
  ["Adams", "1797-03-03", "1801-03-03"],
  ["Jefferson", "1801-03-03", "1809-03-03"]
] %>

<%= area_chart Dataset.group_by_day( :created_at, "avg", "btc_price") %>

<br>
<br>
</body>
</html>