<footer class="footer">
  <small>
    The cloud mining website
  </small>
  <nav>
    <ul>
      <li><%= link_to "Home",   root_path %></li>
      <li><%= link_to "Market", market_path %></li>
      <li><%= link_to "Miner modeling", miners_path %></li>
    </ul>
  </nav>
</footer>